.section {
  color: rgb(0, 0, 0);

  height: auto !important;
  padding: 0 1rem 2.5rem 265px;
}

.section-title {
  font-size: 2rem;
  font-weight: bold;
  margin: 1rem 0rem;
}

.section-description {
  font-size: 1.2rem;
  font-weight: 600;
}

.table-container {
  overflow-x: auto;
  width: 100%;
}

@media (width <=768px) {
  .section {
    max-width: 100%;
    padding: 0 1rem;
  }

  .table-container {
    overflow-x: auto;
    -webkit-overflow-scrolling: touch;
  }
}