.table-container {
  max-height: 800px;
  max-width: calc(100% - 250px);
  margin: 2.5rem auto 0rem auto;
}

.table {
  max-height: 700px;
}

.table-striped-columns {
  margin-bottom: 0
}

.table-head {
  color: rgb(255, 255, 255);
}

.table-head th {
  padding: 1rem;
  text-align: center;

  position: sticky;
  top: 0;
  z-index: 100;
}

.table-body td {
  height: 30px;
  padding: .8rem;

  text-align: center;
}

.table-body td:last-child {
  text-align: center;
}

.table-body tr:last-child td {
  border-bottom: none;
}

.table-body tr td div {
  height: 100%;

  display: flex;
  justify-content: center;
  align-items: center;
}

.table th,
.table td {
  white-space: nowrap;
  min-width: 120px;
}

.table-head th:nth-child(2),
.table-body th:nth-child(2),
.table-body td:nth-child(2) {
  max-width: 20ch;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.table-head th:nth-child(3),
.table-body th:nth-child(3),
.table-body td:nth-child(3) {
  max-width: 30ch;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.table-body tr td:nth-child(2) div,
.table-body tr td:nth-child(3) div {
  text-overflow: ellipsis;
  white-space: nowrap;
  display: flex;
  justify-content: center;
  align-items: center;
}

.table-body tr td:nth-child(2) div span,
.table-body tr td:nth-child(3) div span {
  overflow: hidden;
  text-overflow: ellipsis;
}

.table-categories {
  max-width: 800px;
  margin: 0 auto;
}

@media (width <=768px) {
  .table-container {
    min-width: 425px;
    margin: 2.5rem auto 2.5rem auto;
  }

  .table {
    width: max-content;
    min-width: 100%
  }
}