.table {
  margin: 2.5rem auto 0rem auto;

  max-width: calc(100% - 250px);
}

.table-head {
  color: rgb(255, 255, 255);
}

.table-head th {
  padding: 1rem;
  text-align: center;
}

.table-body td {
  height: 30px;
  padding: .8rem;

  text-align: center;
}

.table-body td:last-child {
  text-align: center;
}

.table-body tr:last-child td {
  border-bottom: none;
}

.table-body tr td div {
  height: 100%;

  display: flex;
  justify-content: center;
  align-items: center;
}

.table th,
.table td {
  white-space: nowrap;
  min-width: 120px;
}

@media (width <=768px) {
  .table {
    width: max-content;
    min-width: 100%;
  }
}