.table {
  margin: 2.5rem auto 0rem auto;
  border: 1px solid rgb(133, 131, 131);
}

.table-head {
  background-color: rgb(133, 131, 131);
  color: rgb(255, 255, 255);
}

.table-head th {
  padding: 1rem;
}

.table-body {
  border: 1px solid green;
}

.table-body td {
  padding: 1rem;
  text-align: center;
  border-bottom: 1px solid rgb(133, 131, 131);
}

.table-body td:last-child {
  text-align: center;
}

.table-body tr:last-child td {
  border-bottom: none;
}

@media (width <=768px) {
  .table {
    width: max-content;
    min-width: 100%;
  }

  .table th,
  .table td {
    white-space: nowrap;
    min-width: 120px;
  }
}