#root {
  width: 100vw;
  min-height: 100vh;
  min-width: 375px;
  margin: 0 auto;

  background-color: rgb(255, 255, 255);
}

/* Chrome, Safari, Edge, Opera */
input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}