.header {
  display: flex;
  justify-content: space-between;
  align-items: center;

  height: 60px;
  width: 100%;

  position: sticky;
  top: 0;
  z-index: 100;

  background-color: rgb(51, 51, 51);
}

.header .header-logo {
  font-size: 1.5rem;
  font-weight: bold;
  color: rgb(255, 255, 255);

  height: 60px;
  width: 12ch;

  display: flex;
  align-items: center;

  padding-bottom: .25rem;
  padding-left: 1rem;
}

.header-menu {
  display: none;
}

.header-registerSale {
  display: block;

  padding-right: 1rem;
}

.button {
  background-color: rgb(126, 187, 34);
  color: rgb(0, 0, 0);
  font-size: 1rem;
  font-weight: bold;
}

.button:hover {
  border: 1px solid rgb(63, 92, 19);
}

.button:focus {
  border: 1px solid rgb(63, 92, 19);
  outline: none;
}

.hamburger:focus {
  outline: none;
}

.hamburger-inner,
.hamburger-inner:after,
.hamburger-inner:before {
  background-color: rgb(255, 255, 255) !important;
}

@media (width <=768px) {
  .header-menu {
    display: block;
    padding-right: 1rem !important;

    height: 100%;
  }

  .header-menu .hamburger {
    height: 100%;
  }

  .header-menu .hamburger-box {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .header-registerSale {
    display: none;
  }
}