.filter-container {
  margin-top: 2rem;
}

.filter-container span {
  font-size: 1rem;

  margin-right: 1rem;
}

.filter-container input {
  border: none;
  border-bottom: 1px solid #ccc;
  outline: none;

  padding: .5rem;

  background-color: transparent;
  color: black
}